<div class="row hero info-row">
	<div class="col-xs-12 description">
		<h1><strong>Pay your rent online.</strong> We'll send the check.</h1>
	</div>
	<div class="col-xs-12 col-sm-6 col-sm-offset-3 tagline">
		<h3>Use your bank account, debit card, or credit card to send payment to any landlord.</h3>
	</div>
	<span class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
		<div class="notify-me" data-toggle="modal" data-target="#invitation-modal">
			Request an invitation
		</div>

		<!-- Modal -->
		<div class="modal" id="invitation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		        <h1>Get an invitation to Checky.co.</h1>
				<%= text_field_tag :email, 'Enter your email address...', :class => 'email-form-field' %>
		      </div>
		    </div>
		  </div>
		</div>
	</span>

</div>

<div class="row subhero info-row">
	<div class="col-sm-5 col-sm-offset-1">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<h1><%= fa_icon "credit-card" %></h1>
			</div>
		</div>
		<h3>Pay your rent online with your bank account, debit card, or credit card.</h3>
	</div>
	<div class="col-sm-5 col-sm-offset-0">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<h1><%= fa_icon "comment-o" %></h1>
			</div>
		</div>
		<h3>Split rent with your roommates and receive rent reminders.</h3>
	</div>
</div>

<div class="row features info-row">
</div>


<div class="row pricing info-row">
	<div class="row">
		<div class="col-xs-12 margin-2">
			<h1>Take advantage of online payments.</h1>
		</div>
	</div>
	<div class="row">
	<div class="col-xs-12 margin-2">
		<%= fa_icon "university", :alt => "eCheck", :class => 'cc-icon' %>
		<%= image_tag("visa-64.png", :alt => "Visa", :class => 'cc-icon') %>
		<%= image_tag("mastercard-64.png", :alt => "Visa", :class => 'cc-icon') %>
		<%= image_tag("discover-64.png", :alt => "Visa", :class => 'cc-icon') %>
		<%= image_tag("american-express-64.png", :alt => "Visa", :class => 'cc-icon') %>
	</div>
	</div>
	<div class="row">
	<div class="col-xs-12 margin-2">
		<table class="price-table">
			<tr>
			  <td>Bank Account</td>
			  <td>$7.99</td>
			</tr>
			<tr>
			  <td>Debit Card</td>
			  <td>1.5%</td>
			</tr>
			<tr>
			  <td>Credit Card</td>
			  <td>2%</td>
			</tr>
		</table>
	</div>
	</div>
	<div class="row">
	<div class="subtext col-xs-12">Prices quoted are per customer per transaction. Quoted prices are subject to change.</div>
	</div>
</div>

<div class="row invites info-row">
	<h1>Get an invitation to Checky.co.</h1>
	<%= text_field_tag :email, 'Enter your email address...', :class => 'email-form-field col-xs-3 col-xs-offset-4' %>
	<span class="invite-me col-xs-1">Invite me</span>
	<div class="response col-xs-12"></div>
</div>