<!DOCTYPE html>
<html>
<head>
  <title>checky.co</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= google_webfonts_link_tag :montserrat => [400, 700] %>
  <%= google_webfonts_link_tag :raleway => [100,200,300,400,500,600,700,800,900] %>
  <%= google_webfonts_link_tag :open_sans => [100,200,300,400,500,600,700,800,900] %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
	<%= render 'partials/top_nav' %>
	<%= yield %>
	<%= render 'partials/bottom_nav' %>
</div>

</body>
</html>
